@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  /* min-width: 1024px; */
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.min-h-free {
  min-height: calc(100vh - 125px);
}

.checkout-textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}

.checkout-textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #bdbdbd;
}

.checkout-textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #bdbdbd;
}

.checkout-textarea:-ms-input-placeholder {
  color: #bdbdbd;
}

.checkout-textarea::placeholder {
  color: #bdbdbd;
}

.StripeElement {
  padding: 1rem;
  border: 1px solid #a9abb2;
  border-radius: 2px;
}

.StripeElement--focus {
  border: 1px solid #a9abb2;
}

.StripeElement--invalid {
  border-color: #e74c3c;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

footer li {
  padding: 0 1px;
  margin: 0 0;
}

footer li a {
  line-height: 0.75 !important;
}

.slick-slider {
  overflow: hidden !important;
  cursor: pointer !important;
}

.nav-slider .slick-slide.slick-active.slick-current img {
  border: 2px solid black !important;
  border-radius: 4px;
}

.brand-card-color-1 {
  background-color: #ffeef4;
}
.brand-card-color-2 {
  background-color: #fcf0ee;
}
.homepage-section_headings {
  @apply text-3xl text-gray-900 md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight;
}

.footer-item:not(:last-child):after {
  content: '•';
  display: inline-block;
  margin: 0 8px;
  color: #4b5563;
}

@media screen and (min-width: 640px) {
  .footer-item:not(:last-child):after {
    content: '';
    display: none;
  }
}
