@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  min-width: 1024px;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.min-h-free {
  min-height: calc(100vh - 125px);
}

.checkout-textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}

.checkout-textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #bdbdbd;
}

.checkout-textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #bdbdbd;
}

.checkout-textarea:-ms-input-placeholder {
  color: #bdbdbd;
}

.checkout-textarea::placeholder {
  color: #bdbdbd;
}

.StripeElement {
  padding: 1rem;
  border: 1px solid #a9abb2;
  border-radius: 2px;
}

.StripeElement--focus {
  border: 1px solid #a9abb2;
}

.StripeElement--invalid {
  border-color: #e74c3c;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

footer li {
  padding: 0 1px;
  margin: 0 0;
}

footer li a {
  line-height: 0.75 !important;
}
